body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3b3d41;
}

#calculator-container {
    margin-top: 150px;
    height: 500px;
    width: 400px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2c2e31;
}

#display-section {
    height: 60px;
    width: 90%;
    margin-top: 28px;
    border-radius: 4px;
    background-color: #3b3d41;
    color: #e2b714;
    position: relative;
    font-size: 36px;
}

#previous-inputs {
    position: absolute;
    top: 0;
    right: 30px;
    font-size: 24px;
}

#current-input {
    position: absolute;
    bottom: 0;
    right: 10px;
}

#buttons-section {
    margin-top: 50px;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}

.btn,
.operation-btn {
    font-size: 18px;
    border-radius: 50%;
    border: none;
    padding: 14px;
    cursor: pointer;
    background-color: #e2b714;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.special-btn,
.operation-btn {
    background-color: #e08d20;
}

.btn:hover {
    background-color: white;
    color: #e2b714;
    transition: ease-in-out 0.05s;
}

@media screen and (max-width: 320px) {
    body {
        transform: scale(0.8);
    }
    
    .btn {
        padding: 8px;
    }
}